@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <style type="text/css">
        <!--
        body {
            margin-left: 0px;
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
        }
        -->
    </style>
    @Styles.Render("~/css/css")
    @Scripts.Render("~/bundles/bootstrap")
</head>

<body>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td height="59" background="../images/top.gif">
                <table width="99%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="1%"><a href="http://www.mycodes.net/admin-templates/" target="_blank"><img src="../images/logo.gif" width="557" height="59" border="0" /></a></td>
                        <td width="64%" align="right" style="font-size:12px;vertical-align:bottom;">&copy; 2009 <a href="http://www.mycodes.net/admin-templates/" style="color:#0099FF;text-decoration:none;">www.mycodes.net</a> QQ:123456 Email:123456@qq.com</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
